@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700&display=swap');

body ,html {
    margin: 0;
}

body {
    height: 100%;
    font-family: 'Montserrat';
    font-size: .8em;
    // display: none;
}

header {
    position: absolute;
    padding: 1em;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 2em);
    background: white;

    a {
        text-decoration: none;
        color: black;
    }

    a.logo {
        font-weight: bold;
        text-transform: uppercase;
    }

    nav ul {
        list-style-type : none;
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0;
        padding: 0;

        li a {
            padding: 1em;
        }
    }
}

.wrapper {
    display: grid;
    grid-template-columns: auto;

    section {
        padding: 3em;

        h1, h2, .read-btn {
            text-transform: uppercase;
            margin: 0;
        }

        .read-btn {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }

        .primary {
            padding: 1.5em 1.5em 1.5em calc(1.2em + 25px);
            display: inline-block;
            border: 1px solid grey;
            margin-top: 3em;
            margin-left: -3.1em;
        }

        .clipper {
            overflow: hidden;
        }
    }

    section.hero {
        padding-top: 8em;
        background: url('../Images/guiterist.jpg');
        background-size: cover;
        // background-position: -6em 0;

        h1{
            font-size: 1.7rem;
        }

        p {
            width: 70%;
            font-size: .9rem;
            margin-bottom: 0;
        }

        .arrow-icon {
            margin-right: .5em;
        }
    }

    section.sidebar, section.subscribe {
        line-height: 1.6em;
    }

    section.sidebar {
        background: #fdd73d;

        p {
            margin-bottom: 2em;
        }

        .read-btn{
            display: block;
        }

        .arrow-icon {
            margin-right: .2em;
        }
    }

    section.subscribe {
        input {
            width: calc(100% - 2em);
            padding: .9em;
            font-family: 'Montserrat';
            margin-bottom: 1em;
            border: 1px solid grey;
        }

        button {
            width: 100%;
            padding: 0.8em;
            border: none;
            background: #000;
            color: #FFFFFF;
            font-family: 'Montserrat';
        }
    }
}

@media only screen and ( min-width: 768px) {

    .wrapper {
        font-size: 14px;

        section.hero {

            h1 {
                font-size: 2rem;
                margin: 1em 0 0;
            }

            p {
                width: 50%;
                margin: 2em 0 2em 0;
            }

            .primary {
                position: relative;
                left: -48px;
                margin-top: 2em;
                margin-bottom: 3em;
        
                .arrow-icon {
                    padding-left: 3.3em;
                }
            }
        }

        section.sidebar, section.subscribe {
            padding-top: 4em;
        }
    }

    .container {
        width: 93%;
        margin: auto;
    }

}

@media only screen and ( min-width: 1024px) {
    header {
        background: none;
        
        nav{
            margin: auto 5% auto auto;
        }
    }

    .wrapper {
        grid-template-columns: 70% auto;
        grid-template-rows: 60% auto;
        grid-template-areas: 
            'hero feature'
            'hero subscribe';
        height: 100vh;

        section.hero {
            grid-area: hero;
            background-position: -190px 0;
        }

        section {
            display: grid;
            grid-template-rows: auto;
            align-items: center;
        }

        section.sidebar, section.subscribe {
            font-size: 0.9em;
        }
    }

}

@media only screen and ( min-width: 1158px) {

    .wrapper {
        section.hero {
            background-position: -100px 0;
        }
    }
}

@media only screen and ( min-width: 1288px) {

    .wrapper {
        section.hero {
            background-position: -30px 0;
        }
    }
}

@media only screen and ( min-width: 1344px) {

    header {
        nav {
            margin: auto 7% auto auto;
        }
    }
}

@media only screen and ( min-width: 1544px) {

    .wrapper {
        section.hero {
            background-position: 0 0;
        }
    }
}

@media only screen and ( min-width: 1600px) {

    html, .wrapper {
        font-size: 19px;
    }
}